# import a csv file made in QGIS, and convert to Google Maps-enabled coords for wiki pages

In [2]:
import pandas

In [3]:
#coords_csv = pandas.read_csv('/Users/baird/Dropbox/_gem-docs/projects/gfit-pipelines/mapping/australia/australia-route-fixing-bassgas.csv')
#coords_csv = pandas.read_csv('/Users/baird/Dropbox/_gem-docs/projects/gfit-pipelines/mapping/australia/australia-route-fixing.csv')
#coords_csv = pandas.read_csv('/Users/baird/Dropbox/_gem-docs/projects/gfit-pipelines/mapping/australia/australia-route-fixing-darling-downs.csv')
#coords_csv = pandas.read_csv('/Users/baird/Dropbox/_gem-docs/report-gas-pipelines-2022/figures-and-mapping/from-scott/mountaineer-pipeline.csv')
#coords_csv = pandas.read_csv('/Users/baird/Dropbox/_gem-docs/projects/pipelines/mapping/2022-oil/tazama/tazama-pipeline.csv')
#coords_csv = pandas.read_csv('/Users/baird/Dropbox/_gem-docs/projects/pipelines/mapping/2022-oil/report-mapping/willow-pipeline.csv')
#coords_csv = pandas.read_csv('/Users/baird/Dropbox/_gem-docs/projects/pipelines/mapping/fixing-vts/new-vts.csv')
#coords_csv = pandas.read_csv('/Users/baird/Dropbox/_gem-docs/projects/pipelines/mapping/2022-gas/nigeria-morocco/nigeria-morocco-wags-elps.csv')
coords_csv = pandas.read_csv('/Users/baird/Dropbox/_gem-docs/projects/pipelines/mapping/2022-gas/hydrogen/fluxys-hydrogen-connector.csv')

* look at the csv file to understand how it's organized
* ultimately each x,y pair should look like:  x1,y1 : x2,y2 : x3,y3 : ...

In [4]:
coords_csv

,id,name,vertex_index,vertex_part,vertex_part_index,distance,angle,lon,lat
0,NaN,hydrogen-fluxys,0,0,0,0.000000,8.457181,3.760226,51.077952
1,NaN,hydrogen-fluxys,1,0,1,0.043330,33.850563,3.766599,51.120810
2,NaN,hydrogen-fluxys,2,0,2,0.167978,68.882078,3.873715,51.184554
3,NaN,hydrogen-fluxys,3,0,3,0.371170,83.340380,4.072842,51.224993
4,NaN,hydrogen-fluxys,4,0,4,0.424756,85.273533,4.126401,51.226713
5,NaN,hydrogen-fluxys,5,0,5,0.548066,87.521787,4.248624,51.243051
6,NaN,hydrogen-fluxys,6,0,6,0.802266,96.294585,4.502551,51.231266
7,NaN,hydrogen-fluxys,7,0,7,1.123269,102.993455,4.818743,51.175900
8,NaN,hydrogen-fluxys,8,0,8,1.259375,105.494313,4.949541,51.138258
9,NaN,hydrogen-fluxys,9,0,9,1.324355,103.800463,5.012326,51.121513
10,NaN,hydrogen-fluxys,10,0,10,1.389511,100.456100,5.075896,51.107225
11,NaN,hydrogen-fluxys,11,0,11,1.451366,107.580533,5.137111,51.098355
12,NaN,hydrogen-fluxys,12,0,12,1.538502,120.579035,5.214808,51.058910
13,NaN,hydrogen-fluxys,13,0,13,2.085294,110.551914,5.666823,50.751235
14,NaN,hydrogen-fluxys,14,0,14,2.143034,96.861723,5.724149,50.744336

* create a list of pipeline names that match up exactly with the csv file; this is something you'll edit yourself

* _aside: to pull out all the rows where the Name column matches "Example Pipeline 1", use the syntax below:_

* now loop through each ```pipeline_name``` in this list and do the appropriate reformatting, and store that in ```list_of_formatted_coords```

### if from the EIA dataset, the pipelines don't have individual names

in QGIS, select the given pipeline(s), then Vector > Collect geometries, then add $x $y (lon, lat) and export as a csv file; then you'll use the "vertex_part" label as the pipeline name

#list_of_pipelines = ["Tioga to Emerson Pipeline"]
list_of_pipelines = list(set(coords_csv['vertex_part']))
print(list_of_pipelines)

list_of_formatted_coords = []
for pipeline_name in list_of_pipelines:
    # pull out all rows matching pipeline_name
    pipeline_specific_dataframe = coords_csv.loc[coords_csv['vertex_part']==pipeline_name]
    # then change y,x coords into strings
    pipeline_specific_dataframe[['lat','lon']].astype(str)
    # join those strings with a comma
    joined_strings_dataframe = pipeline_specific_dataframe[['lat', 'lon']].astype(str).apply(lambda x: ', '.join(x), axis=1)
    # add the colon
    joined_strings_with_colon = joined_strings_dataframe.str.cat(sep=':')
    # store this in a list
    list_of_formatted_coords.append(joined_strings_with_colon)

' ; '.join(list_of_formatted_coords)

' ; '.join(list_of_formatted_coords).__len__()

### if normal separate segments

In [5]:
segment_name = 'name'
#segment_name = 'PipelineName'
#segment_name = 'LINE_NO'
#segment_name = 'OBJECTID'

In [6]:
#list_of_pipelines = ["Tioga to Emerson Pipeline"]
list_of_pipelines = list(sorted(set(coords_csv[segment_name])))
#list_of_pipelines = list(set(coords_csv['PipelineName']))
#print(list_of_pipelines)
print(sorted(list(list_of_pipelines)))

['hydrogen-fluxys']

In [7]:
list_of_formatted_coords = []
for pipeline_name in list_of_pipelines:
    # pull out all rows matching pipeline_name
#    pipeline_specific_dataframe = coords_csv.loc[coords_csv['PipelineName']==pipeline_name]
    pipeline_specific_dataframe = coords_csv.loc[coords_csv[segment_name]==pipeline_name]
    # then change y,x coords into strings
    pipeline_specific_dataframe[['lat','lon']].astype(str)
    # join those strings with a comma
    joined_strings_dataframe = pipeline_specific_dataframe[['lat', 'lon']].astype(str).apply(lambda x: ','.join(x), axis=1)
    # add the colon
    joined_strings_with_colon = joined_strings_dataframe.str.cat(sep=':')
    # store this in a list
    list_of_formatted_coords.append(joined_strings_with_colon)

In [8]:
' ; '.join(list_of_formatted_coords).__len__()

280

for index,pipeline_name in enumerate(list_of_pipelines):

    print(pipeline_name, '--', list_of_formatted_coords[index])
    print()

In [9]:
for index,pipeline_name in enumerate(list_of_pipelines):
    print(';'); print(list_of_formatted_coords[index])

;
51.077952,3.760226:51.12081,3.766599:51.184554,3.873715:51.224993,4.072842:51.226713,4.126401:51.243051,4.248624:51.231266,4.502551:51.1759,4.818743:51.138258,4.949541:51.121513,5.012326:51.107225,5.075896:51.098355,5.137111:51.05891,5.214808:50.751235,5.666823:50.744336,5.724149

### if it's a big network AND segments are not separated, you gotta deal with the "vertex_part" info

In [22]:
#list_of_pipelines = ['elps1', 'elps2']
list_of_pipelines = ['nm1', 'nm2', 'nm3', 'nm4', 'nm5', 'nm6', 'nm7', 'nm8', 'nm9', 'nm10', 'nm11']
#list_of_pipelines = ['wag1', 'wag2', 'wag3', 'wag4']

In [23]:
list_of_formatted_coords = []

for pipeline_name in list_of_pipelines: 
    list_of_vertex_parts = list(set(coords_csv[coords_csv[segment_name]==pipeline_name]['vertex_part']))
    
    for vertex_part in list_of_vertex_parts:
        # pull out all rows matching pipeline_name
        pipeline_specific_dataframe = coords_csv.loc[(coords_csv[segment_name]==pipeline_name)&(coords_csv['vertex_part']==vertex_part)]
        # then change y,x coords into strings
        pipeline_specific_dataframe[['lat','lon']].astype(str)
        # join those strings with a comma
        joined_strings_dataframe = pipeline_specific_dataframe[['lat', 'lon']].astype(str).apply(lambda x: ', '.join(x), axis=1)
        # add the colon
        joined_strings_with_colon = joined_strings_dataframe.str.cat(sep=':')
        # store this in a list
        list_of_formatted_coords.append(joined_strings_with_colon)

* finally, write some code to spit out the information in the format you want

In [24]:
len(list_of_formatted_coords)

11

In [25]:
for i in list_of_formatted_coords:
    print(i)
    print(';')

4.135867, -1.449023:4.014729, -1.911063:3.892177, -2.254852:3.817065, -2.549708:3.773246, -2.976308:3.769251, -3.463418:3.877895, -3.967016:3.959369, -4.457004:4.000103, -4.715609:3.986525, -5.123932:3.972947, -5.505034:3.932212, -5.668363:3.823575, -6.049465:3.728506, -6.376123:3.660594, -6.702782:3.592676, -7.070273:3.565508, -7.505818:3.565508, -7.954973:3.565508, -8.376907:3.647011, -8.812452:3.809994, -9.179943:4.176592, -9.901314:4.407326, -10.350469:4.624423, -10.677128:4.760074, -10.922122:5.261746, -11.684325:5.586942, -12.133481:5.911957, -12.569025:6.196188, -12.909295:6.53436, -13.317618:6.845276, -13.603444:7.196502, -13.916492:7.426003, -14.107043:7.763287, -14.365647:8.086826, -14.515366:8.423569, -14.678695:8.827273, -14.882857:9.270837, -15.087018:9.83456, -15.345623:9.968641, -15.413677:10.129464, -15.631449:10.31699, -15.849222:10.544549, -16.121437:10.825419, -16.393653:11.065956, -16.625036:11.252904, -16.856419:11.45307, -17.006138:11.852976, -17.360018:12.079332, -17.591401:12.358682, -17.822784:12.531465, -17.999724:12.889949, -18.163053:13.075629, -18.231107:13.473042, -18.28555:13.803716, -18.326383:14.186711, -18.353604:14.661252, -18.353604:14.924445, -18.339993:15.318629, -18.326383:15.829957, -18.190275:16.287744, -18.054167:16.73143, -17.93167:17.26509, -17.809173:17.797211, -17.713898:18.237283, -17.673065:18.585962, -17.659455:18.972548, -17.727509:19.37108, -17.822784:19.730208, -17.945281:20.024605, -18.067778:20.343977, -18.149443:20.497042, -18.203886:20.955318, -18.28555:21.399522, -18.28555:21.918162, -18.299161:22.283871, -18.27194:22.610938, -18.149443:23.012415, -17.958892:23.475137, -17.645844:23.898915, -17.360018:24.370911, -17.019748:24.630999, -16.815587:24.902894, -16.570593:25.223452, -16.284767:25.444884, -16.16227:25.714971, -16.026162:25.897117, -15.952923:26.057833, -15.876443:26.253305, -15.726725:26.606761, -15.372845:26.971259, -15.018965:27.370848, -14.637863:27.66849, -14.275246:27.781907, -14.124835:27.875511, -13.974424:28.021613, -13.725941:28.20169, -13.412893:28.620688, -12.814019:28.942779, -12.419307:29.251997, -12.065427:29.41545, -11.913236:29.583958, -11.779601:29.844022, -11.616271:30.10341, -11.480163:30.303382, -11.41211:30.434154, -11.384012:30.666987, -11.384888:31.110836, -11.384888:31.564217, -11.344056:31.881697, -11.269133:32.100431, -11.202078:32.57416, -11.009946:32.881856, -10.845983:33.139366, -10.690739:33.324602, -10.522338:33.479612, -10.34735:33.620177, -10.152293:33.729997, -9.955757:33.933507, -9.601877:34.113998, -9.247997:34.327832, -8.907727:34.585955, -8.553847:34.787408, -8.295242:34.99952, -8.036638:35.244438, -7.805255:35.621496, -7.519428:35.985772, -7.342488:36.150798, -7.274434:36.348373, -7.138327:36.479812, -6.961387:36.567314, -6.743614:36.611028, -6.607507:36.632876, -6.362513:36.643798, -6.158351
;
34.327832, -8.907727:33.922214, -8.540236:33.684707, -8.295242:33.514656, -8.104692:33.401794, -7.988628
;
28.021613, -13.725941:27.852954, -13.595403:27.716054, -13.476768:27.578981, -13.316869:27.487505, -13.172445
;
20.497042, -18.203886:20.483919, -17.848872:20.483919, -17.586356:20.529453, -17.314117:20.602278, -17.119661:20.738732, -16.915482:20.911397, -16.711303
;
14.186711, -18.353604:14.186711, -18.026946:14.199906, -17.645844:14.213101, -17.346407:14.308285, -16.876591
;
13.075629, -18.231107:13.168417, -17.795562:13.221422, -17.455293:13.28854, -17.022433:13.316926, -16.662689
;
11.45307, -17.006138:11.559768, -16.543371:11.679755, -16.271156:11.746391, -15.99894:11.839656, -15.699503
;
9.968641, -15.413677:10.19645, -14.978132:10.357159, -14.610641:10.424097, -14.460923
;
7.426003, -14.107043:7.817228, -13.52178:8.005965, -13.195121:8.170045, -12.870791
;
4.760074, -10.922122:5.139754, -10.71796:5.397266, -10.54102:5.600488, -10.391302:5.970238, -10.119235
;
3.932212, -5.668363:4.258036, -5.763639:4.570155, -5.804471:4.868576, -5.845303:5.180421, -5.858914
;